.titulo-principal {
    font-size: 25px;
    font-style: italic;
    padding-left: 577px;
    color: white;
}

.cabeça {
    background: #757575;
}

.imagemlogo {
    background: #757575;
    width: 12%;
    display: inline-block;
    vertical-align: top;
    padding-left: 575px;
}

.topo {
    background: #757575;
}

.etiqueta {
    padding-left: 500px;
}