.topo {
    background: #757575;
}

.titulo-principal {
    font-size: 25px;
    font-style: italic;
    padding-left: 587px;
    color: white;
}

.cabeça {
    background: #757575;
}

.imagemlogo {
    background: #757575;
    width: 12%;
    display: inline-block;
    vertical-align: top;
    padding-left: 575px;
}

table {
    margin: 20px 20px;
    font-weight: bolder;
}

td {
    border: 2px solid black;
    color: black;
    padding: 8px 8px;
}

tbody {
    background: white;
}

body {
    background: #757575;
}