.titulo-principal {
    font-size: 25px;
    font-style: italic;
    padding-left: 18px;
}

.cabeça {
    background: black;
}

.imagemlogo {
    width: 12%;
    display: inline-block;
    vertical-align: top;
}